<!DOCTYPE html>
{% extends "home.html" %}
{% block body_block %}

<br><h3 align="center" style="color:white;background-color:blue"> DEBIT TRANSACTIONS </h3>
{% if dtransactions %}

<table class="table table-white" style="color:dark" >
      <tr>
            <td></td>
            <td><strong>Transaction Date</strong></td>
            <td><strong>Account Number</strong></td>
            <td><strong>Narration</strong></td>
            <td><strong>Amount</strong></td>
      </tr>

            {% for transaction in dtransactions %}
            <tr>
                  <td></td>
                  <td>{{transaction.date}}</td>
                  <td>{{transaction.to_account_number}}</td>
                  <td>{{transaction.remarks}}</td>
                  <td>₹{{transaction.amount}}</td>
      </tr>
      {% endfor %}
</table>
{% else %}
<br><br><h6 style="text-align:center;color:red"><b>No Transactions</b></h6>
{% endif %}
<br>
<h3 align="center" style="color:white;background-color:blue">CREDIT TRANSACTIONS</h3>
{% if ctransactions %}
<table class="table table-white" style="color:dark" >
      <tr>
            <td></td>
            <td><strong>Transaction Date</strong></td>
            <td><strong>Account Number</strong></td>
            <td><strong>Narration</strong></td>
            <td><strong>Amount</strong></td>
      </tr>

            {% for transaction in ctransactions %}
            <tr>
                  <td></td>
                  <td>{{transaction.date}}</td>
                  <td>{{transaction.to_account_number}}</td>
                  <td>{{transaction.remarks}}</td>
                  <td>₹{{transaction.amount}}</td>
      </tr>
      {% endfor %}
</table>
{%else%}
<br><br><h6 style="text-align:center;color:red"><b>No Transactions</b></h6>
{% endif %}
{% endblock %}
</html>